<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Valor en crudo</th>
        <th>Valor convertido</th>
        <th>Fecha de lectura</h>
    </tr>
    {% for r in readings %}
    <tr>
        <td>{{ r.id }}</td>
        <td>{{ r.rawData }}</td>
        <td>{{ settings.convertReading(r, true) }}</td>
        <td>{{ r.readedAt|date('d/m/Y H:i:s') }}</td>
    </tr>
    {% else %}
    <tr>
        <td colspan="4">No se encontró ninguna lectura</td>
    </tr>
    {% endfor %}
</table>