<div id="chart_channel_{{ channel.number }}" data-channel-info="{{ {
    'number': channel.number,
    'beginThreshold': channel.sensor.convertRawData(channel.beginThreshold),
    'endThreshold': channel.sensor.convertRawData(channel.endThreshold),
    'sensor': {
        'name': channel.sensor.name,
        'readedDataDescription': channel.sensor.readedDataDescription,
        'unitName': channel.sensor.unitName
    }
}|json_encode() }}" class="highchart-container">
    
</div>
